joblib==0.16.0
numpy==1.19.0
pandas 
pip==20.1.1
requests==2.24.0
scikit-learn
scipy==1.4.1
Werkzeug==1.0.1
wheel==0.34.2
Flask==1.1.2
xlrd==1.2.0
urllib3==1.25.9
seaborn==0.10.1
regex
path==13.1.0
pathlib2==2.3.5
protobuf==3.13.0
matplotlib
lightgbm==3.1.1
pickle
catboost==0.24.3
conda==4.9.2
future==0.18.2