<html>

<body background= "static\Future-of-credit-cards-protection.png">
    <style>
            
        body{
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1600px 790px;
      
        }
    

        </style>
    <center>
        <h1 style="color:rgb(62, 186, 190);font-size:43px;font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;background-color: rgb(15, 10, 10); font-style: italic;">PREDICTION</h1><br>
        
     <br>   
     {% if pred=="0" %}
     <h1 style="font-size:44px;">Genuine</h1>  
     
     
     {% else %}
     <h1 style="font-size:44px;">Fraudulent</h1>
     
     
     {% endif %}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>
